<ng-include src="'user/dashboard/poolstats.html'"></ng-include>
<!-- <div layout="column" layout-gt-sm="row" flex>
	<md-card flex>
		<md-card-title>
			<span class="md-headline">Hashrate tupiniquim</span>
		</md-card-title>
		<md-card-content layout="column">
			<div class="chartcontainer-pool" flex>
				<linechart data="poolHashrateChart.datasets" options="poolHashrateChart.options"></linechart>
			</div>
		</md-card-content>
	</md-card>

	<md-card flex>
		<md-card-title>
			<span class="md-headline">Média de esforço (últimos 25 blocos)</span>
		</md-card-title>
		<md-card-content layout="column">
			<div class="chartcontainer-pool" flex>
				<linechart data="poolEffortChart.datasets" options="poolEffortChart.options"></linechart>
			</div>
		</md-card-content>
	</md-card>
</div> -->
<div layout="column" layout-gt-md="row" flex>
	<md-card flex ng-include="'welcome.html'">
	</md-card>
	</div>

<form layout layout-align="center" layout-padding>
	<div layout="row" flex>
		<md-input-container flex class="md-icon-float md-block md-title">
			<label>Endereço da sua carteira (inicia com Wm...)</label>
			<!-- below is the material icons -->
			<md-icon class="material-icons">account_balance_wallet</md-icon>
			<input type="text" ng-model="paymentAddress">
		</md-input-container>
		<div>
			<md-button class="md-raised md-primary" ng-click="addAddress()">
				<md-icon md-font-set="material-icons">add</md-icon>
				Status ao vivo
			</md-button>
		</div>
	</div>  
</form>

<div layout-md="column" layout-sm="column" layout-xs="column" layout="row" flex ng-repeat="(addr,miner) in addrStats">
	<md-card flex>
		<md-toolbar class="md-accent">
			<div class="md-toolbar-tools">
				<md-input-container flex="60" class="md-icon-float md-block md-body-1 hide-error-msg">
					<!-- <label>Name your Miner Group</label> -->
					<!-- below is the material icons -->
					<md-icon class="material-icons">account_balance</md-icon>
					<input type="text" ng-model="miner.name">
					<md-tooltip>
						{{addr}}
					</md-tooltip>
				</md-input-container>
				<span class="md-caption">
					( Último hash : <span am-time-ago="miner.lastHash * 1000">Nunca</span> )
					<md-tooltip>
						{{miner.lastHash*1000 | date:'HH:mm:ss dd/MM/yy'}}
					</md-tooltip>
				</span>
				<span flex></span>
				<span>
					<md-button class="md-fab md-mini" ng-click="deleteAddress(addr, $event)">
						<md-icon md-font-set="material-icons">clear</md-icon>
					</md-button>
				</span>
			</div>
		</md-toolbar>
		<md-card-content>
			<div flex layout="column" layout-md="row" layout-gt-md="row" class="text-center">
				<div flex layout="column" layout-gt-xs="row">
					<div flex>
						<h4> Hash rate<h2>{{miner.hash | toHashRate}}<br/><span style="font-size: small;">Total hashes: {{miner.totalHashes | number}}</span></h2></h4>
					</div>
					<div flex>
						<h4> Taxa média 24h<h2>{{minerStats[addr].dataset['global'].avghstfhour | toHashRate}}<br/><span style="font-size: small;">≅ {{(minerStats[addr].dataset['global'].avghstfhour * oneHash).toFixed(2)}} AEON / semana</span></h2><md-tooltip>Valores calculados com base na dificuldade atual.</md-tooltip></h4>
					</div>
				</div>
				<div flex layout="column" layout-gt-xs="row">
					<div flex>
						<h4> Total devido<h2>{{miner.amtDue | toXMR | number:6}} AEON</h2><md-tooltip>Ao chegar no saldo mínimo necessário, este valor será transferido à sua carteira.</md-tooltip></h4>
					</div>
					<div flex>
						<h4> Total pago<h2>{{miner.amtPaid | toXMR | number:6}} AEON</h2><md-tooltip>Valor já enviado à sua carteira.</md-tooltip></h4>
					</div>
				</div>
			</div>
		</md-card-content>
		<md-card-content layout="column">
			<div class="chartcontainer" ng-if="minerStats[addr].dataset !== {}" flex>
				<linechart data="minerStats[addr].dataset" options="minerStats[addr].options"></linechart>
			</div>
		</md-card-content>
		<md-card-content>
			<div flex>
				<md-table-container>
					<table md-table md-row-select ng-model="minerStats[addr].table_selected" md-progress="minerStats[addr].promise" data-md-row-select="minerStats[addr].table_options.rowSelection" multiple="{{minerStats[addr].table_options.multiSelect}}">
						<thead md-head>
							<tr md-row>
                                				<th md-column md-numeric><h2 class="md-subhead">Trabalhador</h2></th>
                                				<th md-column md-numeric><h2 class="md-subhead">Hash rate</h2></th>
                                				<th md-column md-numeric><h2 class="md-subhead">Média 24h</h2></th>
                                				<th md-column md-numeric><h2 class="md-subhead">Total hashes</h2></th>
                                				<th md-column md-numeric><h2 class="md-subhead">Último hash</h2></th>
							</tr>
						</thead>
						<tbody md-body>
							<tr md-row ng-repeat="(index, id) in addrStats[addr].ids" md-select="id" data-md-on-select="updateCharts" md-on-deselect="updateCharts">
								<td md-cell><p class="md-body-2">{{id}}</p></td>
								<td md-cell><p class="md-body-2">{{minerStats[addr].dataset[id][0].hs | toHashRate}}</p></td>
                                <td md-cell><p class="md-body-2">{{minerStats[addr].dataset[id].avghstfhour | toHashRate}}</p></td>
								<td md-cell><p class="md-body-2">{{addrStats[addr].workerStats[id].totalHash | number}}</p></td>
								<td md-cell><span class="md-body-2" am-time-ago="minerStats[addr].dataset[id][0].ts"></span>
									<md-tooltip>
										{{minerStats[addr].dataset[id][0].ts | date: 'HH:mm:ss dd/MM/yy'}}
									</md-tooltip>
								</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
			</div>
		</md-card-content>
		<md-card-content>
			<div flex layout="column" layout-md="row" layout-gt-md="row" class="text-right">
				<div flex layout="column" layout-gt-xs="row">
					<div flex>
						
					</div>
					<div flex>
						<h3> Shares válidos<h2>{{miner.validShares | number}} <md-icon class="valid">check</md-icon></h2></h3>
						<h3> Shares inválidos<h2>{{miner.invalidShares | number}} <md-icon class="invalid">clear</md-icon></h2></h3>
					</div>
				</div>
			</div>
		</md-card-content>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center" flex>
		<form layout layout-align="center" layout-padding>
			<div layout="row" flex>
				<md-checkbox ng-model="miner.alarm" ng-change="setAlarm(addr, miner.alarm)"></md-checkbox>
				<md-input-container flex class="md-icon-float md-block md-title">
					<label>Alarme de hash rate</label>
					<md-tooltip>Caso seu hash rate esteja abaixo deste valor, a aba fará um som.</md-tooltip>
					<!-- below is the material icons -->
					<input type="text" ng-model="miner.alarmLimit">
					<md-icon class="material-icons">alarm</md-icon>
				</md-input-container>
			</div>  
		</form>
		<span flex></span>
		<md-button class="md-raised md-primary" ng-click="viewPayments($event, miner, addr)">Ver pagamentos</md-button>&nbsp;&nbsp;
		<div>
                <md-button class="md-raised md-accent" aria-label="Miner Login" ng-click="minerLogin($event)" ng-if="!isLoggedIn()">
                  <md-icon class="login">settings</md-icon>
                  <span class="setup-text">Console</span>
                </md-button>
                <md-button class="md-fab md-mini md-warn" aria-label="Miner Login" ng-click="minerConsole($event)" ng-if="isLoggedIn()">
                  <md-icon class="login">build</md-icon>
				  <span class="setup-text">Console</span>
                </md-button>
              </div>
	</md-card-actions>
</md-card>
</div>