<md-dialog aria-label="Miner Login" >
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<span class="md-title">Console do Minerador</span>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon aria-label="Close dialog">clear</md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<md-tabs class="console">
				<md-tab label="Limite de pagamento" md-on-select="currentTab = 'Threshold'">
					<div layout-padding>
						<p class="" ng-if="paymentThresh==0">Você não definiu nenhum limite de pagamento. O padrão está sendo usado.</p>
						<form name="thresholdForm" autocomplete="off">
							<md-input-container>
								<label>Saldo mínimo para pagamento</label>
								<input type="number" ng-model="paymentThresh" name="threshold" step="any" required min="{{min_wallet_payout | toXMR}}">
							</md-input-container>
							<div ng-messages="thresholdForm.threshold.$error" multiple>
								<div ng-message="min">
									Este valor não pode estar abaixo de {{min_wallet_payout | toXMR}} AEON
								</div>
							</div>
							<p>A pool pagará sua carteira quando você ultrapassar o limite.</p>
						</form>
					</div>
				</md-tab>
				<md-tab label="Configurações de e-mail" md-on-select="currentTab = 'Email'">
					<div layout-padding>
						<form name="emailForm" autocomplete="off">
							<md-checkbox ng-model="email_toggle" ng-true-value="1" ng-false-value="0">Receber alertas se o hash rate do minerador chegar a zero.</md-checkbox>							
						</form>
					</div>
				</md-tab>
				
				<md-tab label="Mudar senha" md-on-select="currentTab = 'Password'">
					<div layout-padding>
						<form name="passwordForm" autocomplete="off">
							<md-input-container class="md-block">
								<label>Nova senha</label>
								<input type="password" ng-model="password.pwd" name="pwd" required md-autofocus>
							</md-input-container>
							<md-input-container class="md-block">
								<label>Confirmar senha</label>
								<input type="password" id="cnfpwd" ng-model="password.cnf" name="cnf" required compare-to="password.pwd" ng-focus="status == 'Check passwords'">
								<div ng-messages="passwordForm.cnf.$error" multiple>
									<div ng-message="compare-to">
										Por favor, confirme a nova senha
									</div>
								</div>
							</md-input-container>
						</form>
					</div>
				</md-tab>
			</md-tabs>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button class="md-raised md-primary md-warn" ng-click="logout()">
				Sair
			</md-button>
			<span flex></span>
			<p ng-class="statusClass">{{status}}</p>
			<md-button class="md-primary" ng-click="save()">
				Atualizar {{currentTab}}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>